---
import "../index.css"
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Princing from "../components/Princing.astro";
import Comments from "../components/Comments.astro";
import Footer from "../components/Footer.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Memoroo - Recuerdos de tus eventos en un sólo lugar</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<main class="flex-1">
			<Hero />
			<Features />
			<Princing />
			<Comments />
			<Footer />
		</main>
	</body>
</html>
