---
---

<div class="flex flex-col items-center space-y-2 border-gray-200 p-4 rounded-lg">
    <img class="w-12 h-12 rounded-full" src="https://i.pravatar.cc/300?u=a042581f4e29026707d" alt="Profile image">
    <p class="text-sm text-gray-500 text-center italic">
        "Memoroo hizo que compartir las fotos en la boda de mi hija fuera increiblemente fácil y divertido"
    </p>
    <p class="font-bold">María G.</p>
</div>