---
import Camera from "./icons/Camera.astro";
import Presentation from "./icons/Presentation.astro";
import ShareDots from "./icons/ShareDots.astro";
import Smile from "./icons/Smile.astro";
---

<section class="w-full flex items-center justify-center py-12 md:py-24 lg:py-32 bg-white" id="caracteristicas">
    <div class="container px-4 md:px-6">
        <div class="grid gap-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col items-center space-y-2 border-gray-200 p-4 rounded-lg">
                <Camera className="w-8 h-8 color-secondary" />
                <h3 class="font-bold">Subida en tiempo real</h3>
                <p class="text-sm text-gray-500 text-center">Comparte el QR de tu evento y tus invitados pueden subir fotos al instante. Sin descargas.</p>
            </div>
            <div class="flex flex-col items-center space-y-2 border-gray-200 p-4 rounded-lg">
                <ShareDots className="w-8 h-8 color-secondary" />
                <h3 class="font-bold">Acceso multiplataforma</h3>
                <p class="text-sm text-gray-500 text-center">Puedes acceder a las fotos de tus eventos desde cualquier dispositivo</p>
            </div>
            <div class="flex flex-col items-center space-y-2 border-gray-200 p-4 rounded-lg">
                <Smile className="w-8 h-8 color-secondary" />
                <h3 class="font-bold">Filtros y emojis</h3>
                <p class="text-sm text-gray-500 text-center">Tus invitados pueden poner filtros y emojis a sus fotos</p>
            </div>
            <div class="flex flex-col items-center space-y-2 border-gray-200 p-4 rounded-lg">
                <Presentation className="w-8 h-8 color-secondary" />
                <h3 class="font-bold">Modo presentación</h3>
                <p class="text-sm text-gray-500 text-center">Comparte las fotos de tus invitados en tu pantalla gigante en tiempo real</p>
            </div>
        </div>
    </div>
</section>