---
const year = new Date().getFullYear();
---

<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t bg-white">
    <p class="text-xs">&copy; {year} Memoroo. Todos los derechos reservados | Imágenes y videos de <a href="https://www.freepik.com" target="_blank">Freepik.com</a></p>
    <nav class="sm:ml-auto flex gap-4 sm:gap-6">
        <a href="#" class="text-xs hover:underline underline-offset-4">
            Términos y Condiciones
        </a>
    </nav>
</footer>