---
---

<header class="px-4 lg:px-6 h-16 flex items-center">
    <a href="/">
        <span class="ml-2 text-2xl font-bold text-purple-700">Memoroo</span>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">
        <a href="#carateristicas" class="text-sm font-medium hover:underline underline-offset-4">
            Características
        </a>
        <a href="#precios" class="text-sm font-medium hover:underline underline-offset-4">
            Precios
        </a>
    </nav>
</header>