---
import UserRound from "./icons/UserRound.astro";

---

<header class="px-4 lg:px-6 h-16 flex items-center fixed w-full z-10">
    <a href="/">
        <span class="ml-2 text-2xl font-bold text-white memoroo-logo color-primary">Memoroo</span>
    </a>
    <nav class="ml-auto flex items-center gap-4 sm:gap-6">
        <a href="#carateristicas" class="text-sm font-medium hover:underline underline-offset-4 color-secondary hidden sm:block">
            Características
        </a>
        <a href="#precios" class="text-sm font-medium hover:underline underline-offset-4 color-secondary hidden sm:block">
            Precios
        </a>
        <a href="http://memories.memoroo.app/auth" class="bg-primary rounded-xl p-2 text-sm font-medium text-white flex items-center gap-2 hover:opacity-75">
            <UserRound />
            <span>Ingresar</span>
        </a>
    </nav>
</header>