---
---

<section class="w-full py-12 md:py-24 lg:py-32 xl:py-48">
    <div class="container px-4 md:px-6">
        <div class="flex flex-col items-center space-y-4 text-center">
            <div class="space-y-2">
                <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none">
                    Guarda cada momento de tus eventos con Memoroo
                </h1>
                <p class="mx-auto max-w-[700px] text-gray-500 md:text-xl">
                    Memoroo permite a tus invitados capturar, subir y compartir fotos de manera rápida y fácil durante el festejo.
                </p>
            </div>
            <div class="space-x-4">
                <button class="px-6 py-3 text-sm font-medium text-white bg-purple-700 rounded-lg shadow-md hover:bg-purple-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-700">
                    Crea tu evento
                </button>
            </div>
        </div>
    </div>
</section>