@font-face {
  font-family: "Memoroo";
  src: url("./assets/fonts/louis-george-bold.ttf");
  font-weight: bold;
}

:root {
  --bg-color: #fbfbfe;
  --text-color: #141415;
  --primary: #6a66a9;
  --secondary: #9d9bd4;
  --tertiary: rgba(0, 0, 0, 0.03);
  --accent: #6b68cf;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
}

header {
  background: var(--bg-color);
}

.color-bg {
  color: var(--bg-color);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-accent {
  color: var(--accent);
}

.color-tertiary {
  color: var(--tertiary);
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.border-secondary {
  border-color: var(--secondary);
}

.memoroo-logo {
  font-family: "Memoroo", sans-serif;
}

.bg-glass {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.hero-bg {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
